@font-face{font-family:Times;src:url(../fonts/MCTIME.eot);src:url(../fonts/MCTIME.eot) format('embedded-opentype'),url(../fonts/MCTIME.woff2) format('woff2'),url(../fonts/MCTIME.woff) format('woff'),url(../fonts/MCTIME.ttf) format('truetype'),url(../fonts/MCTIME.svg#MCTIME) format('svg');font-style:normal;font-weight:400}
@font-face{font-family:RoboReg;src:url(../fonts/RobotoSlabRegular.eot);src:url(../fonts/RobotoSlabRegular.eot) format('embedded-opentype'),url(../fonts/RobotoSlabRegular.woff2) format('woff2'),url(../fonts/RobotoSlabRegular.woff) format('woff'),url(../fonts/RobotoSlabRegular.ttf) format('truetype'),url(../fonts/RobotoSlabRegular.svg#RobotoSlabRegular) format('svg');font-style:normal;font-weight:700}
@font-face{font-family:RoboBold;src:url(../fonts/RobotoSlabBold.eot);src:url(../fonts/RobotoSlabBold.eot) format('embedded-opentype'),url(../fonts/RobotoSlabBold.woff2) format('woff2'),url(../fonts/RobotoSlabBold.woff) format('woff'),url(../fonts/RobotoSlabBold.ttf) format('truetype'),url(fonts/RobotoSlabBold.svg#RobotoSlabBold) format('svg');font-style:bold;font-weight:900}
@font-face{font-family:RoboL;src:url(../fonts/RobotoSlabLight.eot);src:url(../fonts/RobotoSlabLight.eot) format('embedded-opentype'),url(../fonts/RobotoSlabLight.woff2) format('woff2'),url(../fonts/RobotoSlabLight.woff) format('woff'),url(../fonts/RobotoSlabLight.ttf) format('truetype'),url(../fonts/RobotoSlabLight.svg#RobotoSlabLight) format('svg');font-style:normal;font-weight:100}
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:after,:before{content:" ";display:block;width:100%;height:0;clear:both}
a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
.wrap{position:relative;margin:0 auto;max-width:1300px;width:100%;height:100%;z-index:2}
.clear{clear:both}
.section,section{width:100%;overflow:hidden;z-index:1;min-width:1120px;height:800px;height:100vh}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center}
body{font-family:PFAgoraSlabPro,sans-serif;font-weight:400;letter-spacing:.027em}
a{text-decoration:none;color:inherit;outline:0!important}
#maket,#maket1{width:100%;height:5400px;background:url(../maket.jpg) no-repeat center top;opacity:.4;position:absolute;top:0;z-index:5;display:none}
#maket1{background:url(../maket1.jpg) no-repeat center top;height:5498px;top:5400px}
.wrapper{max-width:1200px;margin:0 auto;min-width:1200px;min-height:600px;height:100%;position:relative}
.clear{clear:both}
footer,header,section{width:100%;min-width:1200px;overflow:hidden}
h2,h3,h4,h5{font-size:1em;font-weight:400;text-align:center}
body{font-family:RoboReg,sans-serif}
.middle-wrap{min-height:600px;width:100%;position:absolute;top:50%;height:100%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.header-head{position:absolute;width:100%;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);max-width:1600px;padding:0 20px;z-index:10}
.slice{position:absolute;width:100%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
#s1{margin-top:175.5px;top:27.85%}
.logo{float:left;background:url(../img/logo-img.png) no-repeat center;width:335px;height:110px}
.phone{float:right;margin:25px 0 0;text-align:right}
.header-text{display:inline-block;font-family:proxima;font-weight:300;font-size:24px;margin:24px auto 0}
.phone a{display:block;font-size:30px}
.phone span{display:block}
.phone span a{color:#c3a17d}
.phone a{color:#fff}
.phone span a{display:inline-block;font-size:19px;color:#c7956f;border-bottom:2px dotted #c7956f;cursor:pointer;-webkit-transition:all .25s;transition:all .25s}
header{background:url(../img/bg1.jpg) no-repeat center;background-size:cover;text-align:center;height:1080px}
h2{font-family:RoboBold;color:#f7f7f7;font-size:48px;font-weight:900;line-height:61px;text-transform:uppercase}
header h2{padding-top:112px;margin-bottom:158px;line-height:57px}
.parag{position:relative;display:inline-block;color:#fff;font-family:Times;font-size:29px;font-style:italic}
#s2{margin-top:0;top:54.8%}
.sec2 h2:after{content:'';position:absolute;background:url(../img/sec2-ico.png) no-repeat center;width:60px;height:20px;left:50%;margin-left:-30px;margin-top:0}
.sec5 .text:after,.sec5 .text:before,header .parag:after,header .parag:before{content:'';position:absolute;display:block;width:17px;height:1px;top:50%;background-color:#fff}
header .parag:before{right:-10%}
header .parag:after{left:-10%}
.vis{position:absolute;top:74.4%;left:50%;margin-left:-30px;background:url(../img/sec1-ico.png) no-repeat center;width:60px;height:20px}
.sec2{position:relative;text-align:center;background:url(../img/bg2.jpg) no-repeat center;height:1077px;background-size:cover}
.sec2 h2{font-size:36px;color:#404857;position:relative}
.sec2 .vis{top:6%;background:url(../img/sec2-ico.png) no-repeat center}
.sec2 .parag{margin-bottom:22px;color:#000;font-family:Lora;font-size:27px;font-style:italic;margin-top:24px}
.calc-block{width:755px;height:449px;margin:0 auto;background-color:#fbfbfb;box-shadow:0 0 30px rgba(0,0,0,.1);margin-bottom:41px}
.tr-radio:hover .radio-wrap{border-color:#c3a17d}
.radio-wrap{width:15px;height:15px;opacity:.8;background-color:#fbfbfb;display:inline-block;vertical-align:middle;position:absolute;left:9px;top:9px;border:3px solid #D6D6D6;border-radius:7px/8px 8px 8px 8px}
.tr-radio{position:relative;display:inline-block;margin-bottom:10px;height:28px;padding-left:30px;padding-right:8px;line-height:30px}
.trig-2{text-align:left;margin-left:32px;margin-top:33px;font-size:14px;position:relative}
.trig-2:nth-child(2){margin-top:17px}
.left .trig-2:nth-child(3){margin-top:17px}
.left{float:left}
.calc-block .left:nth-child(2){margin-left:35px}
.calc-block .left:nth-child(3){margin-left:13px;margin-top:42px}
.calc-block .left:nth-child(2) .trig-2:nth-child(3){margin-top:13px}
.tr-head{color:#b99977;font-size:16px;padding-left:8px}
.tr-hov{margin-top:10px;position:absolute;display:none;top:33px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2)}
.tr-hov ul{list-style:none}
.tr-hov li{padding:4px 18px;color:#000}
.tr-hov li:hover{background:#faf8f5;color:#e0cfbd}
.tr-hov li:active{background:#faf8f5;color:#e0cfbd}
.tr-hov .active_l{background:#faf8f5;color:#e0cfbd}
.rw-active{background-color:#c3a17d;border-color:#c3a17d}
.granit{background:url(../img/granit.png) no-repeat center}
.mram{background:url(../img/marm.png) no-repeat center}
.rip-bl{width:289px;height:209px}
.rip-bl .cont{margin:0 auto;width:115px;position:relative}
.rip-bl .date,.rip-bl .img,.rip-bl .pozolota{position:absolute}
.rip-bl .img{background:url(../img/calc-ico.png) no-repeat center;width:34px;height:38px;position:absolute;top:22px;left:52px}
.rip-bl .pozolota{background:url(../img/calc-gold.png) no-repeat center;width:42px;height:30px;top:77px;left:50px;-webkit-filter:grayscale(100%)}
.rip-bl .date{background:url(../img/calc-sm.png) no-repeat center;width:29px;height:5px;top:118px;left:55px}
.calc-block h3{color:#414957;font-family:Times;font-size:19px;margin-bottom:24px}
.calc-block form{letter-spacing:11px}
.right{float:right}
.btn,button,input{width:167px;height:62px;background-color:#e5e5e5;vertical-align:top;border:none;outline:0}
input{padding-left:20px}
.btn,button{width:230px;height:62px;background-color:#c3a17d;color:#fff;-webkit-transition:all .25s;transition:all .25s}
.calc-block .top{margin-bottom:59px}
#s3{margin-top:67.5px;top:39.45%}
.sec3{background:url(../img/bg3.jpg) no-repeat center;color:#f7f7f7;height:1080px;background-size:cover}
.sec3 .left img{position:absolute;top:22.1%;margin-left:-15px}
.sec3 .right{position:relative;text-align:left;width:585px}
.sec3 h2,.sec4 h2{text-align:left}
.sec3 .vis{background:url(../img/sec3-ico.png) no-repeat center;width:90px;height:23px;left:7.7%;top:52.6%}
.text{margin-top:104px;color:#fff;font-family:Times;font-size:24px;font-style:italic;line-height:36px}
#s4{margin-top:54px;top:39%}
.sec4{background:url(../img/bg4.jpg) no-repeat center;height:1080px;background-size:cover}
.sec4 .block{position:relative;width:650px;background:#fff;z-index:100;float:left}
.sec4 .block:after{content:' ';position:absolute;left:-27px;top:20px;width:650px;height:575px;border:2px solid #b89566;z-index:-1}
.group{position:relative;margin-left:91px;width:522px;height:575px;z-index:10}
.sec4 h2,.sec6 h2{font-size:39px;padding-top:88px;color:#414957;text-align:left}
.sec4 .vis,.sec6 .vis{top:42%;left:6%;background:url(../img/sec4-ico.png) no-repeat;width:76px;height:21px}
.sec4 .text,.sec6 text{margin-top:82px;margin-bottom:49px;color:#000;line-height:36px}
.btn{width:162px;height:60px;display:block;text-align:center;line-height:60px;cursor:pointer}
#s5{margin-top:13.5px;top:46.65%}
.sec5{background:url(../img/bg5.jpg);height:1081px;background-size:cover}
.sec5 h2{font-size:29px;padding-bottom:50px}
.sec5 .goods{text-align:center;letter-spacing:0;vertical-align:top;margin-bottom:47px;text-align:center;padding-top:20px}
.sec5 .goods .item{position:relative;-webkit-transition:all .25s;transition:all .25s}
.sec5 .bx-viewport{height:410px!important}
.sec5 .text{position:relative;margin-top:36px;margin-bottom:10px;color:#fff;font-family:Times;font-size:24px;font-style:italic}
.sec5 .price{color:#c3a17d;font-family:RoboReg;font-size:16px;font-style:italic}
.sec5 .text:after{left:48px}
.sec5 .text:before{right:48px}
.sec5 .btn{width:537px;height:60px;background-color:#c3a17d;margin:0 auto;text-transform:uppercase;margin-top:47px}
.sec5 .item .img{position:relative;-webkit-transition:all .25s;transition:all .25s;z-index:2}
.sec5 .item.hover .btn,.sec5 .item:hover .btn{opacity:1;-webkit-transition:all .25s;transition:all .25s}
.sec5 .item.hover .img,.sec5 .item:hover .img{-webkit-transform:scale(1.1);transform:scale(1.1);-webkit-transition:all .25s;transition:all .25s;z-index:3}
.sec5 .item:hover{z-index:3}
.sec5 .item .btn{line-height:47px;position:absolute;top:41%;left:57px;width:150px;height:50px;margin:0 auto;background-color:#c3a17d;opacity:0}
.sec5 .item .btn:hover{background-color:#a77a4a}
.sec5-arr-wrap{height:600px;width:50px;display:inline-block;position:absolute!important;z-index:2}
.sec5-arr-wrap:nth-child(1){left:0}
.sec5-arr-wrap:nth-child(2){right:0}
.left-arr{position:absolute;background:url(../img/arrow1.png);width:44px;height:44px;top:46.25%;margin-top:-65.5px;cursor:pointer;-webkit-transition:all .25s;transition:all .25s}
.left-arr:hover{background:url(../img/arrow1_h.png)!important;box-shadow:0 0 10px 0 rgba(50,50,50,.25);-webkit-transition:all .25s;transition:all .25s}
.right-arr{cursor:pointer;position:absolute;background:url(../img/arrow2.png);width:44px;height:44px;top:46.25%;margin-top:-65.5px;right:0;-webkit-transition:all .25s;transition:all .25s}
.right-arr:hover{background:url(../img/arrow2_h.png)!important;box-shadow:0 0 5px 0 rgba(50,50,50,.25);-webkit-transition:all .25s;transition:all .25s}
#s6{margin-top:40.5px;top:43.25%}
.sec6{position:relative;background:url(../img/bg6.jpg);height:1075px;background-size:cover}
.sec6 .block{width:663px;height:600px;border:2px solid #b99666;float:left}
.sec6 .right{position:absolute;background:url(../img/rip_st.png);width:598px;height:574px;top:71px;right:70px}
.sec6 .group{position:relative}
.sec6 h2{padding-top:75px;line-height:51px}
.sec6 .vis{top:55%}
.sec6 .text{margin-top:85px;color:#000}
.sec6 .btn{width:458px;height:68px;margin-top:52px;line-height:69px;-webkit-transition:all .25s;transition:all .25s}
#s7{margin-top:12px;top:47.75%;height:526px}
.sec7{background:url(../img/bg7.jpg);height:1080px;position:relative;background-size:cover}
.sec7 h2{font-size:29px}
.sec7 .content,.sec8 .content{text-align:center;margin-top:63px;letter-spacing:0;position:relative;font-size:0}
.sec7 .content .s7-trig{text-align:center;display:inline-block;width:280px}
.sec7 .content .s7-trig .ico{display:inline-block;background:url(../img/sec7-ico1.png) no-repeat center;width:100px;height:118px}
.sec7 .content .s7-trig:nth-child(1){-webkit-transition-delay:.4s;transition-delay:.4s}
.sec7 .content .s7-trig:nth-child(2){-webkit-transition-delay:.7s;transition-delay:.7s}
.sec7 .content .s7-trig:nth-child(3){-webkit-transition-delay:1s;transition-delay:1s}
.sec7 .content .s7-trig:nth-child(4){-webkit-transition-delay:1.3s;transition-delay:1.3s}
.sec7 .content .s7-trig{position:relative;margin-top:0;vertical-align:top}
.animation4{opacity:0;-webkit-transition:opacity .5s,height .5s;transition:opacity .5s,height .5s;height:130px;overflow:hidden}
.fade-in-custom{opacity:1;height:300px}
.sec7 .content .s7-trig:nth-child(2n){margin-top:167px}
.sec7 .content .s7-trig:nth-child(1) .ico{background:url(../img/sec7-ico1.png) no-repeat center}
.sec7 .content .s7-trig:nth-child(2) .ico{background:url(../img/sec7-ico2.png) no-repeat center}
.sec7 .content .s7-trig:nth-child(3) .ico{background:url(../img/sec7-ico3.png) no-repeat center}
.sec7 .content .s7-trig:nth-child(4) .ico{background:url(../img/sec7-ico4.png) no-repeat center}
.s7-trig:nth-child(2n+1) .ico span{position:absolute;top:90px;margin-left:-3px;color:#fff;font-size:14px}
.s7-trig:nth-child(2n) .ico span{position:absolute;top:8px;margin-left:-3px;color:#fff;font-size:14px}
.s7-text{opacity:.75;color:#fff;font-family:Times;font-size:25px;font-style:italic;padding-top:63px;letter-spacing:0}
.s7-trig:nth-child(2n) .s7-text{padding-top:30px}
.line{position:absolute;background:url(../img/line.png) no-repeat left center;width:1356px;height:96px;top:48%;left:50%;margin-left:-675px;margin-top:-34px}
.phone span a:hover{color:#c7956f;border-bottom:2px dotted transparent}
.btn:hover,button:hover{background-color:#a77a4a}
#s8{margin-top:-27px;top:51.5%}
.sec8{background:url(../img/bg8.jpg) no-repeat center;height:1080px;background-size:cover}
.sec8 h2{font-size:29px}
.number{color:#c3a17d;font-family:Times;font-size:190px;font-style:italic;text-align:left}
.number:before{content:' ';position:absolute;left:41px;top:196px;width:2px;height:208px;background:#979898}
.number:after{content:' ';position:absolute;left:124px;top:79px;width:247px;height:2px;background:#979898}
.s8-trig{position:relative;display:inline-block;width:395px}
.sec8 .content{margin:0}
.s8-text{text-align:left;color:#fff;font-family:Times;font-size:26px;font-style:italic;padding:35px 0 0 65px;line-height:34px}
.sec8 .block{top:81px;left:41px;position:absolute;width:330px;height:323px;border-right:2px solid #979898;border-bottom:2px solid #979898}
.sec8 .content{height:440px}
.sec8 .money{display:inline-block;color:#c3a17d;font-family:Times;font-size:36px;font-style:italic;letter-spacing:normal;line-height:71px}
.sec8 .btn{display:inline-block;letter-spacing:normal;width:212px;height:71px;color:#c3a17d;font-size:18px;font-weight:700;background:#fff;line-height:71px;-webkit-transition:all .25s;transition:all .25s}
.sec8 .btn:hover{color:#9a6c3b;background:#ffecd9}
.under{text-align:center;letter-spacing:38px}
#s9{margin-top:-68.5px;top:60.25%}
.sec9{background:url(../img/bg9.jpg) no-repeat center;height:1080px;background-size:cover}
.sec9 h2{font-size:35px;color:#414957;margin-bottom:20px}
.sec9 .left-arr{background:url(../img/arrow1.png) no-repeat center;top:68%;margin-top:-108px;z-index:10}
.sec9 .right-arr{background:url(../img/arrow2.png) no-repeat center;top:68%;margin-top:-108px;z-index:10}
.sec9 .slide img{height:530px;margin:0 auto}
#s10{margin-top:-94.5px;top:57.75%}
.sec10{background:url(../img/bg10.jpg) no-repeat top center;height:1080px;color:#f7f7f7;background-size:cover;position:relative}
.sec10 .right{background-color:rgba(23,25,31,.76);width:639px;height:100%;position:relative;z-index:2}
#map{width:100%;height:100%;position:absolute;left:0;top:0;z-index:1}
.sec10 h2{font-size:30px;font-weight:700;text-align:left;letter-spacing:normal}
.sec10 .block{width:530px;margin:0 auto;letter-spacing:15px}
.sec10 .h2{display:block;font-family:Times;font-size:25px;font-style:italic;letter-spacing:normal;padding-bottom:8px}
.sec10 .tel{display:block;font-size:28px;padding-bottom:6px;letter-spacing:normal}
.sec10 a.mail{color:#977f66;display:inline;border-bottom:1px dotted #977f66;letter-spacing:normal}
.sec10 h3{text-transform:uppercase;text-align:left;font-size:30px;padding-top:67px;letter-spacing:normal}
.sec10 textarea{width:100%;height:96px;background-color:rgba(14,16,20,.9);color:#c3c4c4;margin-top:10px;padding:17px 25px;font-size:18px;border:none;outline:0;resize:none}
.sec10 textarea:placeholder{color:#c3c4c4}
.sec10 input{width:255px;height:44px;background-color:rgba(14,16,20,.9);color:#c3c4c4;margin-top:10px;margin-bottom:16px;padding-left:19px;font-size:16px}
.sec10 input:focus,.sec10 textarea:focus{border-top:2px solid #c3a17d}
.sec10 button{width:530px;height:55px;-webkit-transition:all .25s;transition:all .25s}
.sec10 .vis{background:url(../img/sec3-ico.png) no-repeat center;width:90px;height:23px;top:35%;left:13%}
footer{background:#191b1e;min-height:0;position:absolute;bottom:0;padding:6px 0;z-index:3}
footer .logo{background:url(../img/logo-sml.png) no-repeat center;width:197px;height:65px}
footer .wrapper{min-height:0;max-width:1600px;padding:0 20px}
.maketext{float:right;color:#fff;font-size:14px;margin-right:25px;text-align:right;padding-right:36px}
.logo2{float:right;background:url(../img/gulf-logo.png) no-repeat bottom;height:66px;width:228px}
.sld{width:1260px;width:2346px;margin:0 auto;position:relative;left:50%;margin-left:-630px;margin-left:-1173px}
.sld .bx-viewport{overflow:visible!important}
.slde.fadeouted{opacity:0}
.slde{position:relative;z-index:2;-webkit-transition:opacity .5s;transition:opacity .5s}
.slde.active{z-index:5}
.slde.active:after{-webkit-transform:scale(1.1);transform:scale(1.1);z-index:4;opacity:0}
.slde:after{position:absolute;height:100%;left:0;top:0;background:rgba(0,0,0,.66);z-index:2;-webkit-transition:opacity .5s,-webkit-transform .5s;transition:opacity .5s,transform .5s}
.slde.active img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.sld img{-webkit-transition:all .5s;transition:all .5s}
.tr-body{padding-left:5px;background:url(../img/down-arr.png) no-repeat;background-position:86px 8px;cursor:pointer;width:100px;float:left}
.tr-body:hover+.tr-hov{display:block}
.tr-hov:hover{display:block;cursor:pointer}
.trig-2 .active_tr{display:block;cursor:pointer}
::-webkit-input-placeholder{color:#fff}
::-moz-placeholder{color:#fff}
:-moz-placeholder{color:#fff}
:-ms-input-placeholder{color:#fff}
.calc-block ::-webkit-input-placeholder{color:#000}
.calc-block ::-moz-placeholder{color:#000}
.calc-block :-moz-placeholder{color:#000}
.calc-block :-ms-input-placeholder{color:#000}
.popap ::-webkit-input-placeholder{color:#000}
.popap ::-moz-placeholder{color:#000}
.popap :-moz-placeholder{color:#000}
.popap :-ms-input-placeholder{color:#000}
.animation{position:relative;top:200px;opacity:0;-webkit-transition:opacity .75s cubic-bezier(.53,.18,.62,.91) .75s,top 1s linear .25s;transition:opacity .75s ease-in-out .75s,top 1s linear .25s;-webkit-transition-delay:.2s;transition-delay:.2s}
.fade-up-custom{top:0;opacity:1;margin-top:0}
.animation2{position:relative;top:600px;-webkit-transition:all 1s;transition:all 1s;opacity:0;-webkit-transition:opacity .75s cubic-bezier(.53,.18,.62,.91) .75s,top 1s linear .25s;transition:opacity .75s ease-in-out .75s,top 1s linear .25s}
.fade-up-custom2{top:0;opacity:1;margin-top:0}
.animation3{-webkit-transition:all 1s;transition:all 1s;-webkit-transition-delay:1s;transition-delay:1s;width:0}
.fade-up-custom3{width:1356px;-webkit-transition:width 3s;transition:width 3s}
#hidden-box{display:none}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow:auto;margin:0;padding:0;border:0;border-collapse:collapse}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%}
.arcticmodal-container_i2{margin:0;border:0;vertical-align:middle}
#okgo{text-align:center;background:#fff;color:#000;font-size:24px;line-height:36px;padding:30px}
.error-input{border:1px solid red!important}
.popap{background:#fff;width:797px;height:410px;text-align:center;padding:60px;position:relative}
.popap h2{color:#414957;font-size:36px;margin-bottom:40px}
.popap p{color:#000;margin-bottom:50px;font-size:24px;font-family:Lora;font-style:italic}
.popap h2:after{content:'';position:absolute;background:url(../img/sec2-ico.png) no-repeat center;width:60px;height:20px;left:50%;margin-left:-30px;margin-top:0}
.close{background:url(../img/close.png) no-repeat top center;position:absolute;width:17px}